*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url(../img/fondo-reloj.jpg), center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    text-align: center;
    background:rgba(0, 0, 0, .5);
}

#cronometro {
    font-size: 2em;
    margin: 20px;
}

.botones button {
    font-size: 1em;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background:rgba(0, 0, 0, .5);
    color: #fff;
}